@mixin bkg-parallax{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 700px;
    overflow: hidden;
}

.header{
    min-height: 680px;

    .main-header{
        position: absolute;
        width: 100%;
        height: 100%;

        &_nav{
            background: transparent;
            box-shadow: none;
            padding: 20px;

            &_isologo-nav{
                width: 50px;
            }

            &_menu{

            }
        }

        &_title{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: calc(100% - 150px);
        }
    }

    #bkg-header-container{
        @include bkg-parallax;
        
        #bkg-header-forms{
            background-image: url('../img/background-parallax.png');
            opacity: .5;
            @include bkg-parallax;
        }

        #bkg-header-logo{
            background-image: url('../img/isologo-header.svg');
            background-repeat: no-repeat;
            background-position: center;
            @include bkg-parallax;
            top: 20%;
            left: 27%;
        }
    }
}