body{
  background-color: $tertiary;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.container-section{
  padding: 10rem 8rem 4rem 8rem;
}

.no-margin{
  margin: 0 !important;
}

.miscellany{
  width: 200px;
  height: 10px;
}

.distribute-layout{
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 50px;

  .distribute-item{
    display: table-cell;
    width: 25%;
    text-align: center;
  }
}