body{
  background-color: $tertiary;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.container-section{
  padding: 10rem 5rem 4rem 5rem;
}

.no-margin{
  margin: 0 !important;
}

.miscellany{
  width: 200px;
  height: 10px;
}