.presentation{
  background-color: $primary-two;
  background-image: url(../../img/profile-photo.jpg); //PENDIENTE: Hacer efecto cuando scrolleas que se vaya moviendo la imagen de derecha a izquierda

  &_card{
    height: 763px;
    position: relative;
    background: $primary-two;
    background: -moz-linear-gradient(top,  $primary-two 0%, $secondary-two 100%);
    background: -webkit-linear-gradient(top,  $primary-two 0%,$secondary-two 100%);
    background: linear-gradient(to bottom,  $primary-two 0%,$secondary-two 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffa8', endColorstr='#00c1a7',GradientType=0 );

    &-helper{
      background-image: url(../../img/presentation-polygon.png);
      background-repeat: no-repeat;
      width: 122px;
      height: 768px;
      position: absolute;
      top: -1px;
      left: -122px;
    }

    .miscellany{
      background-color: $secondary-one;
    }

    &_content{
      h3, h4{
        color: $primary-one;
      }

      ul li{
        list-style-type: decimal;
      }
    }
  }
}